<!-- howdy/templates/about.html -->
{% extends 'base.html' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Future Installs</title>
    </head>
    <body>
        {% block content %}
            <div class="card border-danger mb-3" style="max-width: 20rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <p class="card-text">Page Under Construction. Stay Tuned for Updates.</p>
                </div>
            </div>
        {% endblock %}
    </body>
</html>