{% extends 'base.html' %}

{% block content %}
    <nav>
        <form method="POST">
            {% csrf_token %}
            <div>
                <p>Enter City: <input type="text" name="city" placeholder="Enter your City ..."> or</p>
                <p>Enter your Longitude and Latitude:
                    <input type="text" name="latitude" placeholder="Latitude ...">
                    <input type="text" name="longitude" placeholder="Longitude ...">
                </p>
                <div>
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>
        </form>
    </nav>
        <br><br>
    <div>
        {% if name and temp_min and temp_max and humidity %}
        <div>
            <div>
                <div>
                    <h4><span>Location :</span> {{name}}</h4>
                    <h4><span>Min Temp :</span> {{temp_min}}</h4>
                    <h4><span>Max Temp :</span> {{temp_max}}</h4>
                    <h4><span>Humidity :</span> {{humidity}}</h4>
                </div>
            </div>
        {% endif %}
        </div>
    </div>

    <table class="table table-hover">
        <tr>
            <th>City</th><th>Min Temp</th><th>Max Temp</th><th>Humidity</th>
        </tr>
        {% for city in displayed_cities %}
            <tr>
                <td>{{ city.name }}</td><td>{{ city.temp_min }}</td><td>{{ city.temp_max }}</td><td>{{ city.humidity }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}