{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <p>Enter City Latitude and Longitude or <br> 
                        Choose a city from the list.
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="city"
                            placeholder="name@example.com">
                        <label for="floatingInput">City</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" name="latitude"
                            placeholder="name@example.com">
                        <label for="floatingInput">Latitude</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingPassword" name="longitude"
                            placeholder="Password">
                        <label for="floatingInput">Longitude</label>
                    </div>
                    <div class="form-group">
                        <label for="cityselectbox" class="form-label mt-4">Select a city from the list</label>
                        <select multiple="" class="form-select" id="cityselectbox" name="cityselectbox">
                            <option selected></option>
                            <option value='{"city":"Canberra", "lat":"-35", "lon":"149"}'>Canberra</option>
                            <option value='{"city":"Sydney", "lat":"-33.8688", "lon":"151.2093"}'>Sydney</option>
                            <option value='{"city":"Brisbane", "lat":"-27.4705", "lon":"153.0260"}'>Brisbane</option>
                            <option value='{"city":"Brisbane", "lat":"-27.4705", "lon":"153.0260"}'>Brisbane</option>
                            <option value='{"city":"Brisbane", "lat":"-27.4705", "lon":"153.0260"}'>Brisbane</option>
                            <option value='{"city":"Brisbane", "lat":"-27.4705", "lon":"153.0260"}'>Brisbane</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success">Display Weather</button>
                    </p>
                </div>
            </form>
        </div>
        <div class="col-9">
            <div style="overflow-x:auto;">
                <table class="table table-hover">
                    <tr>
                        <th>City</th>
                        <th></th>
                        <th>Description</th>
                        <th>Feels Like</th>
                        <th>Min Temp</th>
                        <th>Max Temp</th>
                        <th>Humidity</th>
                        <th>Pressure</th>
                        <th>Dew Point</th>
                        <th>Wind</th>
                        <th>UV Index</th>
                        <th>Sunrise</th>
                        <th>Sunset</th>
                    </tr>
                    {% for city in displayed_cities %}
                    <tr>
                        <td>{{ city.name }}</td>
                        <td><img src={{ city.icon }} alt="Image" style="width:70px"></td>
                        <td>{{ city.description }}</td>
                        <td>{{ city.feels_like }}</td>
                        <td>{{ city.temp_min }}</td>
                        <td>{{ city.temp_max }}</td>
                        <td>{{ city.humidity }}</td>
                        <td>{{ city.pressure }}</td>
                        <td>{{ city.dew_point }}</td>
                        <td>{{ city.wind }}</td>
                        <td>{{ city.uv_index }}</td>
                        <td>{{ city.sunrise }}</td>
                        <td>{{ city.sunset }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}