<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://bootswatch.com/5/quartz/bootstrap.min.css">
        <title>Howdy!</title>
    </head>
    <body class="p-3"><!-- nav bar, same on all pages, expands after page medium+ -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Django Weather Services</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor02">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home
                                <span class="visually-hidden">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about/">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/weather/">Weather</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/feedback/">Feedback</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/future/">Future</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/weatherbot/">WeatherBot</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div><!-- individual page templates go here -->
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>