{% extends 'base.html' %}

{% block content %}
    <header class="py-5 bg-image-full" style="background-image: url('https://wallpaperaccess.com/full/1540001.jpg')">
        <div class="text-center my-5">
            <img class="img-fluid mb-4" src="https://www.swinburneonline.edu.au/app/uploads/swinburne_online_logo.svg" alt="Swinburne Online Logo" />
        </div>
    </header>
    <div>
        <h1 class="text-center my-5 text-white fs-3 fw-bolder">Django Weather Services, Presented by Rob Milinski</h1>
    </div>
{% endblock %}