{% extends 'base.html' %}

{% block content %}
    <!-- displayed on initial load or if no customer feedback data supplied/sent -->
    <h2>Customer Feedback</h2>
    <p>
        Please enter your feedback below.
    </p>
    <form method="post">
        {% csrf_token %} <!-- security -->
        <div class="form-group"><!-- data inputs are required for form to be 'posted' -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="John Doe" name="customername" required>
                <label for="floatingInput">Customer Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="customeremail" required>
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 100px" name="customerfeedback" required></textarea>
                <label for="floatingTextarea">Feedback</label>
            </div>
            <br><input type="submit" value="Submit" class="btn btn-secondary"> <!-- submit button sends form -->
        </div>
    </form>
{% endblock content %}