{% extends 'base.html' %}

{% block content %}
    <h2>Customer Feedback</h2>
    <p>
        Please enter your feedback below.
    </p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="customername" name="customername">
                <label for="floatingInput">Customer Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="customeremail" name="customeremail">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-group">
                <label for="customercomment" class="form-label mt-4">Feedback</label>
                <textarea class="form-control" id="customerfeedback" rows="3" spellcheck="false" name="customerfeedback"></textarea>
            </div>
            <br><input type="submit" value="submit">
        </div>
    </form>
{% endblock content %}