{% extends 'base.html' %}

{% block content %}
    <div class="card border-primary mb-3" style="max-width: 20rem; position: absolute; top: 50%; left: 50%; margin-right: -50%; transform: translate(-50%, -50%)">
        <div class="card-header">About Us</div>
        <div class="card-body">
            <h4 class="card-title">Where Was Our Company Founded?</h4>
            <p class="card-text">
                <!-- brief company intro, 93 words-->
                Django Weather Services (DWS) was founded in 2021, by a group of university students looking to future proof themselves. They went about this by learning how to code in Python. Django, a high-level Python based framework, was developed around three core principles: ridiculously fast, reassuringly secure, and exceedingly scalable. Utilizing Django’s API modules, DWS pulls all weather data from OpenWeatherMap, which provides current and future weather forecasts for over 200,000 cities across the globe. In particular, this site uses OpenWeatherMap's 'OneCall' API, providing both current and historical weather information for our valued guests.
            </p>
        </div>
    </div>
{% endblock %}